{% extends 'base_fluid.html' %}
{% block title %}Users{% endblock %}
{% block content %}
  <h1>Users <i class="icon-group"></i></h1>
  <p>Overview of Users. <a href="/account/add/">Add another</a></p>
  {% if rows %}
  {% load pagination_tags %}
  {% load humanize %}
  <table class="table table-bordered table-striped">
    <thead>
      <th>User</th>
      <th><i class="icon-laptop"></i></th>
      <th style="width:20px;">VNC</th>
      <th>Active</th>
      <th>Last Page</th>
      <th style="width:90px;">Browser</th>
      <th style="width:90px;">Current IP</th>
      <th style="width:40px;">Joined</th>
    </thead>
    <tbody>
      {% autopaginate rows 10 %}
      {% for row in rows %}
      <tr>
        <td><a href="#" rel="tooltip" title="{{ row.user }} - initalized: {{ row.init }}"</a>{{ row.user|truncatechars:18 }}</a></td>
        <td>{{ row.instance_count }}</td>
        <td>{{ row.vnc_session_count }}</td>
        <td><a href="#" rel="tooltip" title="{{ row.audit.time|naturaltime }}">{{ row.audit.time|naturaltime|truncatewords:5 }}</a></td>
        <td><a href="#" rel="tooltip" title="{{ row.audit.page }}">{{ row.audit.page|truncatechars:"15" }}</a></td>
        <td><a href="#" rel="tooltip" title="{{ row.audit.current_browser }}">{{ row.audit.current_browser|truncatechars:"15" }}</a></td>
        <td>{{ row.audit.current_ip }}</td>
        <td><a href="#" rel="tooltip" title="{{ row.user.date_joined }}">{{ row.user.date_joined|date:"d/m/y" }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No users added!</p>
  {% endif %}
{% endblock %}
