{% extends 'base_fluid.html' %}
{% block title %}{{ user }}{% endblock %}
{% block content %}
  <h1>Hello {{ user }}</h1>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
    <li><a href="#messages" data-toggle="tab">Messages{% if messages|length > 0 %} ({{ messages|length }}){% endif %}</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="overview"> 
      <h2>Overview</h2>
      {% if my_instances_online or my_instances_offline %}
        <hr>
        <h3>Instances <small>Overview</small></h3>
        {% if my_instances_online %}
        <dl>
          <dt>Online</dt>
          {% for instance in my_instances_online %}
            <dd><a href="/instance/{{ instance.name }}/">{{ instance }}</a></dd>
          {% endfor %}
        </dl>
        {% endif %}
        {% if my_instances_offline %}
        <dl>
          <dt>Offline</dt>
          {% for instance in my_instances_offline %}
            <dd><a href="/instance/{{ instance.name }}/">{{ instance }}</a></dd>
          {% endfor %}
        </dl>
        {% endif %}
      {% endif %}
      {% if request.user.is_staff %}
      <hr>
      <h3>Admin <small>Overview</small></h3>
      <dl>
        <dt>Hypervisors</dt>
        <dd>Online: <b>{{ hypervisors_online }}</b> Offline: <b>{{ hypervisors_offline }}</b></dd>
      </dl>
      <dl>
        <dt>Storage Pools</dt>
        <dd>Online: <b>{{ storagepools_online }}</b> Offline: <b>{{ instances_offline }}</b></dd>
      </dl>
      <dl>
        <dt>Volumes</dt>
        <dd>Online: <b>{{ volumes_online }}</b> Offline: <b>{{ volumes_offline }}</b></dd>
      </dl>
      <dl>
        <dt>Instances</dt>
        <dd>Online: <b>{{ instances_online }}</b> Offline: <b>{{ instances_offline }}</b> Tasks: <b>{{ instancetasks }}</b></dd>
      </dl>
      <dl>
        <dt>Installation Disks</dt>
        <dd>Complete: <b>{{ installationdisks }}</b> Tasks: <b>{{ installationdisktasks }}</b></dd>
      </dl>
      {% endif %}
    </div>
    <div class="tab-pane fade" id="messages">
      <h2>Messages</h2>
      {% load message_utils %}
      {% if unread_messages %}
        <h3>Unread messages</h3>
        {% for message in unread_messages %}
          <blockquote>
            <p class="text-{{ message.level|message_level_as_text }}">{{ message }}</p>
            <small><a class="muted" href="{% url message_mark_read message.pk %}">mark as read</a> - {{ message.created }}</small>
          </blockquote>
        {% endfor %}
      {% endif %}
      {% if read_messages %}
        <h3>Read messages</h3>
        {% for message in read_messages %}
          <blockquote>
            <p class="text-{{ message.level|message_level_as_text }}">{{ message }}</p>
            <small>{{ message.created }}</small>
          </blockquote>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
