{% extends 'base_fluid.html' %}
{% block title %}Networks{% endblock %}
{% block content %}
<h1>Networks <i class="icon-sitemap"></i></h1>
<p>Overview of Networks. <a href="/network/add/">Add another</a></p>
<table class="table table-condensed table-striped table-bordered">
  <thead>
    <th>Hypervisor</th>
    <th>Netmask</th>
    <th>Gateway</th>
    <th>Broadcast</th>
    <th>Network</th>
    <th>Start</th>
    <th>End</th>
    <th>Instances</th>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
      <td><a href="/hypervisor/{{ row.hypervisor.pk }}/" rel="tooltip" title="{{ row.hypervisor }}">{{ row.hypervisor.name }}</a></td>
<td><a href="#" class="netmask" data-pk="{{ row.id }}">{{ row.netmask }}</a></td>
      <td><a href="#" class="gateway" data-pk="{{ row.id }}">{{ row.gateway }}</a></td>
      <td><a href="#" class="broadcast" data-pk="{{ row.id }}">{{ row.broadcast }}</a></td>
      <td><a href="#" class="network" data-pk="{{ row.id }}">{{ row.network }}</a></td>
      <td><a href="#" class="start" data-pk="{{ row.id }}">{{ row.start }}</a></td>
      <td><a href="#" class="end" data-pk="{{ row.id }}">{{ row.end }}</a></td>
      <td>{{ row.get_number_of_instances }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script>
  $(function() {
    $('.netmask').editable({
      type: 'text',
      url: '/network/edit/',
      title: 'Edit Netmask',
      mode: 'popup',
      name: 'netmask'
    });
    $('.gateway').editable({
      type: 'text',
      url: '/network/edit/',
      title: 'Edit Gateway',
      mode: 'popup',
      name: 'gateway'
    });
    $('.broadcast').editable({
      type: 'text',
      url: '/network/edit/',
      title: 'Edit Broadcast',
      mode: 'popup',
      name: 'broadcast'
    });
    $('.network').editable({
      type: 'text',
      url: '/network/edit/',
      title: 'Edit Network',
      name: 'network'
    });
    $('.start').editable({
      type: 'text',
      url: '/network/edit/',
      title: 'Edit Start Address',
      name: 'start'
    });
    $('.end').editable({
      type: 'text',
      url: '/network/edit/',
      title: 'Edit End Address',
      name: 'end'
    });
  });
</script>
{% endblock %}
