{% extends 'base_fluid.html' %}
{% block title %}Add Installation Disk{% endblock %}
{% block content %}
  <h2>Add Installation Disk <i class="icon-plus"></i></h2>
  <form class="form" action="{{ request.get_full_path }}" method="POST">
    {% csrf_token %}
    {% load bootstrap %}
    <div class="span9">
      <p class="muted pull-left">Description and URL of disk</p><hr>
    </div>
    <div class="span3">
      {{ form.name|bootstrap }}
    </div>
    <div class="span3">
      {{ form.url|bootstrap }}
    </div>
    <div class="row"></div>
    <div class="span9">
      <p class="muted pull-left">Where to download the image to</p><hr>
    </div>
    <div class="span3">
      {{ form.hypervisor|bootstrap }}
    </div>
    <div class="row"></div>
    <div class="span9">
      <hr>
      <button class="btn btn-large btn-primary" type="submit">Add Disk</button>
    </div>
  </form>
{% endblock %}
