{% extends 'base_fluid.html' %}
{% block title %}Installation Disks{% endblock %}
{% block content %}
  <h1>Hypervisors</h1>
  <p>Overview of Hypervisor's Installation Disks. <a href="/installationdisk/add/">Add another</a>.</p>
  {% load size_utils %}
  {% if disks %}
    <h2>Disks</h2>
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th>Hypervisor</th>
        <th>Filename</th>
        <th>Size</th>
        <th style="width: 15px;">Options</th>
      </thead>

      <tbody>
        {% for disk in disks %}
          <tr>
            <td><a href="#" id="name" data-pk="{{ disk.id }}">{{ disk.name }}</a></td>
            <td>{{ disk.hypervisor }}</td>
            <td>{{ disk.filename }}</td>
            <td>{{ disk.total_bytes|to_human_readable }}</td>
            <td>
              <a href="#" id="delete"><i id="{{ disk.id }}" class="icon-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      $(function() {
        // handle confirmation modal
        $('a#delete').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to delete this Installation Disk?", function(confirmed) {
            if (confirmed) {
              window.location = '/installationdisk/delete/' + e.srcElement.id + '/';
            }
          });
        });

        $('#name').editable({
          type: 'text',
          url: '/installationdisk/edit/',
          title: 'Edit Name',
        });
      });
    </script>
  {% else %}
    <p>Oops. No Installation Disk's added.</p>
  {% endif %}
  {% if tasks %}
    <h2>Downloads</h2>
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th>Hypervisor</th>
        <th>Filename</th>
        <th>Progress</th>
        <th>Size</th>
        <th>Status</th>
        <th style="width: 15px;">Options</th>
      </thead>

      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.hypervisor }}</td>
            <td>{{ task.filename }}</td>
            <td>
              <div class="progress progress-striped active">
                 <div class="bar" style="width: {{ task.percent }}%;"></div>
              </div>
            </td>
            <td>{{ task.total_bytes_dl|to_human_readable }}/{{ task.total_bytes|to_human_readable }}</td>
            <td>{{ task.state }}</td>
            <td>
              <a href="/installationdisk/restart/{{ task.id }}/" id="task-restart"><i id="{{ task.id }}" class="icon-repeat"></i></a>
              <a href="/installationdisk/delete/{{ task.id }}/" id="task-delete"><i id="{{ task.id }}" class="icon-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      $(function() {
        window.setTimeout('location.reload()', 6000); 
      });
    </script>
  {% endif %}
{% endblock %}
