{% extends 'base_fluid.html' %}
{% block title %}Hypervisors{% endblock %}
{% block content %}
  <h1>Hypervisors <i class="icon-hdd"></i></h1>
  <p>Overview of linked hypervisors. <a href="/hypervisor/add/">Add another</a>.</p>
  {% if hypervisors %}
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th style="width: 20px;">Status</th>
        <th>Location</th>
        <th>Address</th>
        <th>Libvirt Port</th>
        <th>Node Port</th>
        <th style="width: 15px;">Options</th>
      </thead>

      <tbody>
        {% for hypervisor in hypervisors %}
          <tr>
            <td><a href="#" id="name" data-pk="{{ hypervisor.id }}">{{ hypervisor.name }}</a></td>
            <td>{{ hypervisor.get_status_display }}</td>
            <td><a href="#" id="location" data-pk="{{ hypervisor.id }}">{{ hypervisor.location }}</a></td>
            <td><a href="#" id="address" data-pk="{{ hypervisor.id }}">{{ hypervisor.address }}</a></td>
            <td width="190"><a href="#" id="libvirt_port" data-pk="{{ hypervisor.id }}">{{ hypervisor.libvirt_port }}</a> {{ hypervisor.get_libvirt_status_html|safe }}</td>
            <td width="190"><a href="#" id="node_port" data-pk="{{ hypervisor.id }}">{{ hypervisor.node_port }}</a> {{ hypervisor.get_node_status_html|safe }}</td>
            <td>
              <a href="#" id="delete"><i id="{{ hypervisor.id }}" class="icon-trash"></i></a>
              <a href="/hypervisor/update/{{ hypervisor.id }}/"><i class="icon-refresh"></i></a>
              {% if hypervisor.status == 'UP' %}
                <a href="#" id="stop"><i id="{{ hypervisor.id }}" class="icon-stop"></i></a>
              {% else %}
                <a href="/hypervisor/start/{{ hypervisor.id }}/"><i id="{{ hypervisor.id }}" class="icon-play"></i></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      $(function() {
        // handle confirmation modal
        $('a#delete').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to delete this Hypervisor?", function(confirmed) {
            if (confirmed) {
              window.location = '/hypervisor/delete/' + e.srcElement.id + '/';
            }
          });
        });
        $('a#stop').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to stop this Hypervisor?", function(confirmed) {
            if (confirmed) {
              window.location = '/hypervisor/stop/' + e.srcElement.id + '/';
            }
          });
        });

        $('#name').editable({
          type: 'text',
          url: '/hypervisor/edit/',
          title: 'Edit Name',
        });
        $('#location').editable({
          type: 'text',
          url: '/hypervisor/edit/',
          title: 'Edit Location',
        });
        $('#address').editable({
          type: 'text',
          url: '/hypervisor/edit/',
          title: 'Edit Address',
        });
        $('#libvirt_port').editable({
          type: 'text',
          url: '/hypervisor/edit/',
          title: 'Edit Libvirt Port',
        });
        $('#node_port').editable({
          type: 'text',
          url: '/hypervisor/edit/',
          title: 'Edit Node Port',
        });
      });
    </script>
  {% else %}
    <p>Oops. No Hypervisors added.</p>
  {% endif %}
{% endblock %}
