{% extends 'base_fluid.html' %}
{% block title %}Hypervisors{% endblock %}
{% block content %}
  <h1>Hypervisors <i class="icon-hdd"></i></h1>
  <p>Overview of linked hypervisors. <a href="/hypervisor/add/">Add another</a>.</p>
  {% if hypervisors %}
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th style="width: 20px;">Status</th>
        <th>Location</th>
        <th>Address</th>
        <th>Libvirt Port</th>
        <th>Node Port</th>
        <th style="width: 8px; text-align:center;"><i class="icon-cog"></i></th>
      </thead>

      <tbody>
        {% for hypervisor in hypervisors %}
          <tr>
            <td><a href="/hypervisor/{{ hypervisor.id }}/">{{ hypervisor.name }}</a></td>
            <td>{{ hypervisor.get_status_html|safe }}</td>
            <td>{{ hypervisor.location }}</td>
            <td>{{ hypervisor.address }}</td>
            <td width="190">{{ hypervisor.libvirt_port }} {{ hypervisor.get_libvirt_status_html|safe }}</td>
            <td width="190">{{ hypervisor.node_port }} {{ hypervisor.get_node_status_html|safe }}</td>
            <td>
              <div class="dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a tabindex="-1" href="#" id="delete"><i id="{{ hypervisor.id }}" class="icon-trash"></i> Delete</a></li>
                  <li><a tabindex="-1" href="/hypervisor/update/{{ hypervisor.id }}/"><i class="icon-refresh"></i> Refresh</a></li>
                  <li><a tabindex="-1" href="/hypervisor/initalize/{{ hypervisor.id }}/"><i class="icon-refresh"></i> Re-Initalize</a></li>
                {% if hypervisor.status == 'UP' %}
                  <li><a tabindex="-1" href="#" id="stop"><i id="{{ hypervisor.id }}" class="icon-stop"></i> Stop</a></li>
                {% else %}
                  <li><a tabindex="-1" href="/hypervisor/start/{{ hypervisor.id }}/"><i id="{{ hypervisor.id }}" class="icon-play"></i> Start</a></li>
                {% endif %}
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      $(function() {
        // handle confirmation modal
        $('a#delete').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to delete this Hypervisor?", function(confirmed) {
            if (confirmed) {
              window.location = '/hypervisor/delete/' + e.srcElement.id + '/';
            }
          });
        });
        $('a#stop').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to stop this Hypervisor?", function(confirmed) {
            if (confirmed) {
              window.location = '/hypervisor/stop/' + e.srcElement.id + '/';
            }
          });
        });
      });
    </script>
  {% else %}
    <p>Oops. No Hypervisors added.</p>
  {% endif %}
{% endblock %}
