{% extends 'base_fluid.html' %}
{% block title %}Hypervisor {{ instance.name }}{% endblock %}
{% block content %}
  {% load size_utils %}
  <h1>{{ instance.name }} <small>Hypervisor overview..</small></h1>
  <hr>
  <h3>Status <i class="icon-signal"></i> <small>Quick look at what's running..</small></h3>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>Libvirt</th>
        <th>Node</th>
        <th>Installation Disks</th>
        <th>Networks</th>
        <th>Instances Online</th>
        <th>Instances Offline</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ instance.get_libvirt_status_html|safe }}</td>
        <td>{{ instance.get_node_status_html|safe }}</td>
        <td><span class="label label">{{ installation_disks }}</span></td>
        <td><span class="label label">{{ networks }}</span></td>
        <td><span class="label label-info">{{ instances_online }}</span></td>
        <td><span class="label label-warning">{{ instances_offline }}</span></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h3>Configuration <i class="icon-cog"></i> <small>Reconfigure your Hypervisor..</small></h3>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Location</th>
        <th>Address</th>
        <th>Libvirt Port</th>
        <th>Node Port</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#" id="name" data-pk="{{ instance.id }}">{{ instance.name }}</a></td>
        <td>{{ instance.get_status_display }}</td>
        <td><a href="#" id="location" data-pk="{{ instance.id }}">{{ instance.location }}</a></td>
        <td><a href="#" id="address" data-pk="{{ instance.id }}">{{ instance.address }}</a></td>
        <td><a href="#" id="libvirt_port" data-pk="{{ instance.id }}">{{ instance.libvirt_port }}</a></td>
        <td><a href="#" id="node_port" data-pk="{{ instance.id }}">{{ instance.node_port }}</a></td>
      </tr>
    </tbody>
  </table>
  {% if instances %}
  <hr>
  <h3>Instances <i class="icon-hdd"></i> <small>Overview of all Hypervisor's instances..</small></h3>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <th>Name</th>
      <th>Alias</th>
      <th>User</th>
      <th>Creator</th>
      <th>Created</th>
      <th>VCPU</th>
      <th>Memory</th>
      <th>Capacity</th>
      <th>IP</th>
      <th>Status</th>
    </thead>
    {% load pagination_tags %}
    {% autopaginate instances 5 %}
    {% for instance in instances %}
      <tr>
        <td><a href="/instance/{{ instance.name }}/" rel="tooltip" title="{{ instance.name }}">{{ instance.name|truncatechars:6 }}</a></td>
        <td><a href="#" rel="tooltip" title="{{ instance.alias }}">{{ instance.alias|truncatechars:7 }}</a></td>
        <td>{{ instance.user }}</td>
        <td>{{ instance.creator }}</td>
        <td><a href="#" rel="tooltip" title="{{ instance.created }}">{{ instance.created|date:"d/m/y" }}</a></td>
        <td>{{ instance.vcpu }}</td>
        <td>{{ instance.memory.name }}</td>
        <td>{{ instance.volume.capacity.name }}</td>
        <td>{{ instance.network.ip }}</td>
        <td>{{ instance.get_status_html|safe }}</td>
      </tr>
    {% endfor %}
  </table>
  {% paginate %}
  {% endif %}
  <hr>
  <h3>Allocated Resources <i class="icon-zoom-in"></i> <small>Look at what's being used..</small></h3>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>RAM, VCPUs</th>
      <tr>
        <th>Allocated RAM</th>
        <th>Maximum RAM</th>
        <th>Allocated VCPUs</th>
        <th>Maximum VCPUs</th>
      </tr>
    </thead>
    <tbody>
      <td>{{ allocated_memory|to_human_readable }}</td>
      <td><a href="#" id="maximum_memory" data-pk="{{ instance.id }}">{{ instance.maximum_memory.name }}</a></td>
      <td>{{ allocated_vcpus }}</td>
      <td><a href="#" id="maximum_vcpus" data-pk="{{ instance.id }}">{{ instance.maximum_vcpus }}</a></td>
    </tbody>
  </table>
  <br>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th colspan="7">Storage Pools</th>
      </tr>
      <tr>
        <th style="width:70px;">Name</th>
        <th style="width:40px;">Status</th>
        <th style="width:220px;">Path</th>
        <th style="width:100px;">Capacity</th>
        <th style="width:100px;">Allocated</th>
        <th style="width:100px;">Available</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
      {% for row in storagepools %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.get_status_html|safe }}</td>
        <td>{{ row.path }}</td>
        <td>{{ row.capacity|to_human_readable }}</td>
        <td>{{ row.allocated|to_human_readable }}</td>
        <td>{{ row.available|to_human_readable }}</td>
        <td>
          <div class="progress progress-striped active">
             <div class="bar" style="width: {{ row.percent }}%;"></div><span class="label pull-right">{{ row.percent|floatformat }}%</span>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <th>Total:</th>
        <td>{{ total_storagepool_allocated|to_human_readable }}</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <th>Maximum:</th>
        <td><a href="#" id="maximum_hdd" data-pk="{{ instance.id }}">{{ instance.maximum_hdd.name }}</a></td>
        <td colspan="2"></td>
      </tr>
    </tfoot>
    </tbody>
  </table>
  <script>
    $(function() {
      $('#name').editable({
        type: 'text',
        url: '/hypervisor/edit/',
        title: 'Edit Name',
      });
      $('#maximum_hdd').editable({
        type: 'select',
        url: '/hypervisor/edit/',
        title: 'Edit maximum HDD',
        source: {{ size_array|safe }},
      });
      $('#maximum_memory').editable({
        type: 'select',
        url: '/hypervisor/edit/',
        title: 'Edit maximum RAM',
        source: {{ size_array|safe }},
      });
      $('#maximum_vcpus').editable({
        type: 'text',
        url: '/hypervisor/edit/',
        title: 'Edit maximum VCPUs',
      });
      $('#location').editable({
        type: 'text',
        url: '/hypervisor/edit/',
        title: 'Edit Location',
      });
      $('#address').editable({
        type: 'text',
        url: '/hypervisor/edit/',
        title: 'Edit Address',
      });
      $('#libvirt_port').editable({
        type: 'text',
        url: '/hypervisor/edit/',
        title: 'Edit Libvirt Port',
      });
      $('#node_port').editable({
        type: 'text',
        url: '/hypervisor/edit/',
        title: 'Edit Node Port',
      });
    });
  </script>

{% endblock %}
