{% extends 'base_fluid.html' %}
{% block title %}{{ instance }}{% endblock %}
{% block content %}
  {% load bootstrap %}
  {% load size_utils %}
  {% if not instance.initialised %}
    <h2>Welcome! <small>Hello from your new VPS</small></h2>
    <p>In order to get you started, here is a little HowTo.</p>
    <p>First pick an install medium from the drop down list (CD/DVD), then hit 'Start'. Give it a few ticks then hit 'Launch VNC' (you will need Java for this!).</p>
    <p>When prompted for network details, configure manually using all the details specified below.</p>
    <p>Any questions, drop us an email! Click <a href="/instance/{{ instance.name }}/?init">here</a> to get rid of this!</p>
    <hr>
  {% endif %}

  <ul class="nav nav-tabs">
    <li class="active"><a href="#controls" data-toggle="tab">Controls</a></li>
    <li><a href="#overview" data-toggle="tab">Overview</a></li>
    <li><a href="#network" data-toggle="tab">Networks</a></li>
    {% if snapshots %}
      <li><a href="#snapshots" data-toggle="tab">Snapshots</a></li>
    {% endif %}
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="controls">
      <h2>Controls <i class="icon-cog"></i> <small>Make changes to your Instance..</small></h2>

      <table class="table">
        <thead>
          <tr>
            <th style="width: 50px;">Name</th>
            <td><a href="#" id="name" data-pk="{{ instance.name }}">{{ instance.alias }}</a></td>
          </tr>
          <tr>
            <th style="width: 50px;">Status</th>
            <td>{{ instance.get_status_html|safe }}</td>
          </tr>
            <th style="width: 50px;"></th>
            <td>
              <a href="/instance/update/{{ instance.name }}/" class="btn btn-success btn-mini"><i class="icon-refresh"></i> Refresh</a>
              <a href="#" id="{{ instance.name }}" class="btn btn-mini btn-inverse"><i class="icon-trash"></i> Delete</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="width: 50px;">Power</th>
            <td>
              <a class="btn btn-primary
                {% if instance.status != 5 %}disabled"{% else %}" href="/instance/start/{{ instance.name }}/"{% endif %}><i class="icon-play"></i> Start</a>
              <a class="btn btn-info
                {% if instance.status != 3 %}disabled"{% else %}" href="/instance/resume/{{ instance.name }}/"{% endif %}><i class="icon-play"></i> Resume</a>
              <a class="btn btn-warning
                {% if instance.status != 1 %}disabled"{% else %}" href="/instance/suspend/{{ instance.name }}/"{% endif %}><i class="icon-pause"></i> Suspend</a>
              <a class="btn btn-success
                {% if instance.status != 1 %}disabled"{% else %}" href="/instance/restart/{{ instance.name }}/"{% endif %}><i class="icon-refresh"></i> Restart</a>
              <a class="btn btn-danger
                {% if instance.status != 1 %}disabled"{% else %}" href="/instance/shutdown/{{ instance.name }}/"{% endif %}><i class="icon-stop"></i> Shutdown</a>
              <a class="btn btn-inverse
                {% if instance.status != 1 %}disabled"{% else %}" href="/instance/force/{{ instance.name }}/"{% endif %}><i class="icon-eject"></i> Force Shutdown</a>
            </td>
          </tr>
          <!-- hdd options -->
          <tr>
            <th style="width: 50px;">CD/DVD</th>
            <td>
                <form class="form-inline" method="POST" action="./installation_disk/">
                  {% csrf_token %}
                  {{ installationdisks_form.installation_disk }}
                  <button type="submit" class="btn
                    {% if instance.status == 0 or instance.status == 8 or instance.status == 9 %}disabled{% endif %}"><i class="icon-plus"></i> Mount Disk</button>
                </form>
            </td>
          </tr>
          <!-- vnc options -->
          <script>
            var connected = 0;
            var session_id = 0;
            var heartbeat;
            function vnc_heartbeat (port) {
              if (port > 0) {
                heartbeat = setInterval(function() {
                  Dajaxice.apps.vnc.heartbeat(Dajax.process, {
                    'port': port,
                    'name': '{{ instance.name }}'
                  });
                }, 5000);
              }
            }
          function stop_heartbeat(button) {
            clearInterval(heartbeat);
            Dajaxice.apps.vnc.stop_vnc(Dajax.process, {
              'name': '{{ instance.name }}'
            });
          }
          function vnc_handle(button) {
            if (!connected) {
              $(button).toggleClass('active');
              $(button).html('Initalizing...');
              Dajaxice.apps.vnc.setup_vnc(Dajax.process, 
                {
                  'name': '{{ instance.name }}',
                  'applet': false
                }
              );
              vnc_heartbeat();
            } else {
              stop_heartbeat(button);
            }
          }
            
          function vnc_handle_applet(button) {
            if (!connected) {
              $(button).toggleClass('active');
              $(button).html('Connecting...');
              Dajaxice.apps.vnc.setup_vnc(Dajax.process, 
                {
                  'name': '{{ instance.name }}',
                  'applet': true
                }
              );
              vnc_heartbeat();
            } else {
              stop_heartbeat(button);
            }
          }
          </script>
          <tr>
            <th style="width: 50px;">VNC</th>
            <td>
              <button id="vnc-connect-button" class="btn" onClick="vnc_handle(this);">
                <i class="icon-share"></i> Launch
              </button>
              <button id="vnc-connect-button" class="btn" onClick="vnc_handle_applet(this);">
                <i class="icon-share"></i> Launch Java Applet
              </button>
            </td>
          </tr>
          <tr id="vnc-container" style="display: none;">
            <th style="width: 50px;"></th>
            <td>
              <p id="vnc-container-p">For security reasons, the VNC session will only be accessible via this page, and the route through to your Server will only be active while you are connected to this page.</p>
              <div id="vnc-applet" style="padding: 0 auto;">
              </div>
            </td>
          </tr>

          <tr>
            <th style="width: 50px;">Snapshot</th>
            <td>
              <a id="snapshot-button" style="margin-right:4px;" class="btn pull-left {% if instance.status != 5 %}disabled" rel="tooltip" title="Instance must be shutdown in order to take a snapshot"{% else %}"{% endif %} href="/snapshot/create/{{ instance.name }}/">
                <i class="icon-code-fork"></i> Create
              </a>
              {% if snapshots_form %}
                <form class="form-inline pull-left" method="POST" action="./snapshot/">
                  {% csrf_token %}
                  {{ snapshots_form.snapshot }}
                  <button type="submit" class="btn"><i class="icon-download-alt"></i> Restore</button>
                </form>
              {% endif %}
            </td>
          </tr>

          <!-- other options -->
        </tbody>
      </table>

      <script>
        $(function() {
          $('a#{{ instance.name }}').click(function(e) {
            e.preventDefault();
            bootbox.confirm("Are you sure you want to delete this Instance?", function(confirmed) {
              if (confirmed) {
                window.location = '/instance/delete/' + e.srcElement.id + '/';
              }
            });
          });

          $('.snapshot_name').editable({
            type: 'text',
            url: '/snapshot/edit/',
            title: 'Edit Snapshot Name',
          });
          $('#name').editable({
            type: 'text',
            url: '/instance/edit/',
            title: 'Edit Instance Name',
          });
        });
      </script>
    </div>

    <!-- overview -->
    <div class="tab-pane" id="overview">
      <h2>Overview <i class="icon-globe"></i> <small>A quick look at your Instance..</small></h2>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th colspan="4">Hardware</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="width: 55px;">VCPU</th>
            <td style="width: 50px;">{{ instance.vcpu }}</td>
            <th>Usage</th>
            <td>
              <div class="progress progress-striped active">
                <div class="bar" style="width: {{ cpu_percent }}%;"></div><span class="label pull-right">{{ cpu_percent|floatformat }}%</span>
              </div>
            </td>
          </tr>
          <tr>
            <th style="width: 50px;">RAM</th>
            <td style="width: 50px;">{{ instance.memory.name }}</td>
            <th>Usage</th>
            <td>
              <div class="progress progress-striped">
                <div class="bar" style="width: {{ memory_percent }}%;"></div><span class="label pull-right">{{ memory_percent|floatformat }}%</span>
              </div>
            </td>
          </tr>
          <tr>
            <th style="width: 50px;">HDD</th>
            <td style="width: 50px;">{{ instance.volume.capacity.name }}</td>
            <th style="width: 50px;">Path</th>
            <td>{{ instance.volume.device_name }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-condensed table-bordered">
        <tbody>
          <tr>
            <th style="width: 50px;">CD/DVD</th>
            <td colspan="3">{{ instance.disk }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="network">
      <h2>Networks <i class="icon-sitemap"></i> <small>A quick look at networks for your instance..</small></h2>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th>rDNS</th>
            <th>IP</th>
            <th>MAC</th>
            <th>Network</th>
            <th>Gateway</th>
            <th>Netmask</th>
            <th>Broadcast</th>
            <th width="10" style="text-align:center;"><i class="icon-cog"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                {% if instance.network.reversedns_set.all.0 %}
                  {{ instance.network.reversedns_set.all.0.rdns }}
                {% elif instance.network.reversednsrequest_set.all.0 %}
                  Requesting: {{ instance.network.reversednsrequest_set.all.0.rdns }}
                {% else %}
                  Nothing set
                {% endif %}
            </td>
            <td>{{ instance.network.ip }}</td>
            <td>{{ instance.mac }}</td>
            <td>{{ instance.network.network.network }}</td>
            <td>{{ instance.network.network.gateway }}</td>
            <td>{{ instance.network.network.netmask }}</td>
            <td>{{ instance.network.network.broadcast }}</td>
            <td>
              <div class="dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a tabindex="-1" {% if instance.network.reversednsrequest_set.all|length > 0 %}class="disabled-link"{% endif %} href="/reversedns/request/{{ instance.network.id }}/{{ instance.name }}/"><i class="icon-legal"></i> Request rDNS</a></li>
                    <li><a tabindex="-1" {% if instance.network.reversednsrequest_set.all|length == 0 %}class="disabled-link"{% endif %} href="/reversedns/request/delete/{{ instance.network.reversednsrequest_set.all.0.id }}/"><i class="icon-ban-circle"></i> Cancel request</a></li>
                    <li><a {% if not instance.network.reversedns_set.all.0.rdns %}class="disabled-link"{% endif %} tabindex="-1" href="/reversedns/delete/{{ instance.network.id }}/"><i class="icon-trash"></i> Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    {% if snapshots %}
    <div class="tab-pane" id="snapshots">
      <h2>Snapshots <i class="icon-code-fork"></i> <small>A quick look at snapshots for your instance..</small></h2>
      <table class="table table-condensed table-bordered">
        <thead>
          <th>Name</th>
          <th>Status</th>
          <th style="width: 40px;"><i class="icon-cog"></i></th>
        </thead>
        <tbody>
        {% for row in snapshots %}
        <tr>
          <td><a href="#" class="snapshot_name" data-pk="{{ row.id }}">{{ row.name }}</a></td>
          {% if row.creating %}
            <td><a rel="tooltip" href="#" title="{{ row.status }}">{{ row.status|truncatewords:5 }}</a></td>
          {% else %}
            <td>Created <a rel="tooltip" href="#" title="{{ row.created }}">{{ row.created|date:"d/m/y" }}</a></td>
          {% endif %}
          <td>
            <div class="dropdown">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a tabindex="-1" href="/snapshot/delete/{{ instance.name }}/{{ row.pk }}/"><i class="icon-trash"></i> Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
{% endblock %}
