{% extends 'base_fluid.html' %}
{% block title %}Storage Pools{% endblock %}
{% block content %}
  <h1>Storage Pools <i class="icon-hdd"></i></h1>
  <p>Overview of linked storage pools. <a href="/storagepool/add/">Add another</a>.</p>
  {% if storagepools %}
    {% load size_utils %}
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th>Hypervisor</th>
        <th style="width: 20px;">Status</th>
        <th>Path</th>
        <th>Capacity</th>
        <th>Alloc</th>
        <th>Avail</th>
        <th>Percent</th>
        <th style="width: 15px;">Options</th>
      </thead>
      
      <tbody>
        {% for storagepool in storagepools %}
          <tr>
            <td>{{ storagepool.name }}</td>
            <td><a href="/hypervisor/{{ storagepool.hypervisor.pk }}/" rel="tooltip" title="{{storagepool.hypervisor }}">{{ storagepool.hypervisor.name }}</a></td>
            <td>{{ storagepool.get_status_html|safe }}</td>
            <td><a href="#" rel="tooltip" title="{{ storagepool.path }}"</a>{{ storagepool.path|truncatechars:"40" }}</a></td>
            <td>{{ storagepool.capacity|to_human_readable }}</td>
            <td>{{ storagepool.allocated|to_human_readable }}</td>
            <td>{{ storagepool.available|to_human_readable }}</td>
            <td>
              <div class="progress progress-striped active">
                 <div class="bar" style="width: {{ storagepool.percent }}%;"></div>
              </div>
            </td>
            <td>
              {% if storagepool.status != 0 and storagepool.status != 6 %}
                <a href="#" id="stop"><i id="{{ storagepool.id }}" class="icon-stop"></i></a>
              {% else %}
                <a href="/storagepool/start/{{ storagepool.id }}/">
                  <i class="icon-play"></i>
                </a>
              {% endif %}
              <a href="#" id="delete"><i id="{{ storagepool.id }}" class="icon-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <script>
      $(function() {
        // handle confirmation modal
        $('a#delete').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to delete this Storage Pool?", function(confirmed) {
            if (confirmed) {
              window.location = '/storagepool/delete/' + e.srcElement.id + '/';
            }
          });
        });
        $('a#stop').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to stop this Storage Pool?", function(confirmed) {
            if (confirmed) {
              window.location = '/storagepool/stop/' + e.srcElement.id + '/';
            }
          });
        });
      });
    </script>
  {% else %}
    <p>Oops. No storage pools added.</p>
  {% endif %}
{% endblock %}
