{% extends 'base_fluid.html' %}
{% block title %}Storage Pools{% endblock %}
{% block content %}
  <h1>Storage Pools</h1>
  <p>Overview of linked storage pools. <a href="/storagepool/add/">Add another</a>.</p>
  {% if storagepools %}
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th>Hypervisor</th>
        <th style="width: 20px;">Status</th>
        <th>Path</th>
        <th>Capacity</th>
        <th>Alloc</th>
        <th>Avail</th>
        <th style="width: 15px;">Options</th>
      </thead>
      
      <tbody>
        {% for storagepool in storagepools %}
          <tr>
            <td>{{ storagepool.name }}</td>
            <td>{{ storagepool.hypervisor }}</td>
            <td>{{ storagepool.get_status_display }}</td>
            <td>{{ storagepool.path }}</td>
            <td>{{ storagepool.capacity }}</td>
            <td>{{ storagepool.alloc }}</td>
            <td>{{ storagepool.avail }}</td>
            <td>
              {% if storagepool.status != 0 %}
                <a href="#" id="stop"><i id="{{ storagepool.id }}" class="icon-stop"></i></a>
              {% else %}
                <a href="/storagepool/start/{{ storagepool.id }}/">
                  <i class="icon-play"></i>
                </a>
              {% endif %}
              <a href="#" id="delete"><i id="{{ storagepool.id }}" class="icon-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <script>
      $(function() {
        // handle confirmation modal
        $('a#delete').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to delete this Storage Pool?", function(confirmed) {
            if (confirmed) {
              window.location = '/storagepool/delete/' + e.srcElement.id + '/';
            }
          });
        });
        $('a#stop').click(function(e) {
          e.preventDefault();
          bootbox.confirm("Are you sure you want to stop this Storage Pool?", function(confirmed) {
            if (confirmed) {
              window.location = '/storagepool/stop/' + e.srcElement.id + '/';
            }
          });
        });
      });
    </script>
  {% else %}
    <p>Oops. No storage pools added.</p>
  {% endif %}
{% endblock %}
