{% load dajaxice_templatetags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>KontrolVM :: {% block title %}{% endblock %}</title>

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-editable.css" rel="stylesheet">
        <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
      {% block navigation %}{% endblock %}
      <!-- messages -->
      {% load message_utils %}
      <script>
        $(function() {
        {% for message in messages %}
          $.bootstrapGrowl('{{ message|safe }}', {
            type: '{{ message.level|message_level_as_text }}',
            {% if message.is_persistent %}
              read_url: '{% url 'message_mark_read' message.pk %}',
            {% endif %}
          });
        {% endfor %}
          $('body').ajaxComplete(function(e, xhr, settings) {
            var contentType = xhr.getResponseHeader("Content-Type");
            if (contentType == "application/javascript" || 
              contentType == "application/json") {
              var json = $.parseJSON(xhr.responseText);
              $.each(json.messages, function (i, item) {
                $.bootstrapGrowl(item.message, {
                  type: item.level,
                  read_url: item.read_url,
                  level: item.level,
                });
              });
            }
          });
        });
      </script>
      <!-- content -->
      {% block container %}{% endblock %}
    </body>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-editable-inline.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.bootstrap-growl.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/bootbox.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.dajax.core.js"></script>
    {% dajaxice_js_import %}
</html>
