{% extends 'base_fluid.html' %}
{% block title %}Volumes{% endblock %}
{% block content %}
  <h1>Volumes</h1>
  <p>Overview of volumes. <a href="/volume/add/">Add another</a>.</p>
  {% if volumes %}
    {% load size_utils %}
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th>Storage Pool</th>
        <th>Capacity</th>
        <th>Allocated</th>
        <th style="width: 15px;">Options</th>
      </thead>

      <tbody>
      {% for volume in volumes %}
        <tr>
          <td>{{ volume.name }}</td>
          <td>{{ volume.storagepool }}</td>
          <td>{{ volume.capacity|to_human_readable }}</td>
          <td>{{ volume.allocated|to_human_readable }}</td> 
          <td>
              <a href="#" id="delete"><i id="{{ volume.id }}" class="icon-trash"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
  <script>
    $(function() {
      // handle confirmation modal
      $('a#delete').click(function(e) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to delete this Volume?", function(confirmed) {
          if (confirmed) {
            window.location = '/volume/delete/' + e.srcElement.id + '/';
          }
        });
      });
    });
  </script>
  {% endif %}
{% endblock %}
